@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    color: #121212;
}

body {
    min-height: 100vh;
    background-color: #9bd4e4;
}

h3{
  color:white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
  font-size: 22px;
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

h1, h3{
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.otherForm {
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  background-color: #0784b5;
  color: white;
  box-shadow: 10px 10px #3260aa;
}

a{
    color: white;
}

.formA{
  color: #121212;
}

.formA:hover {
  color: #9bd4e4;
}

input{
  border-radius: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"]{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-top: 2px solid white;
  border-left:2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #b3b7bb88;
}

hr{
  border: 1px solid #b3b7bb;
}

button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 3rem;
}

input:hover{
  border: 2px solid #a1c1e2;
}

button:hover{
  background-color: #a1c1e2;
}

a:hover{
  color:#3b71ca;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errorMessage {
    background-color: white;
    color: red;
    border: solid red;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.successMessage {
  background-color: white;
  color: green;
  border: solid green;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  height: 60px;
  min-width: 100%;
  background-color: #39ace7;
  color: white;
  margin-bottom: 50px;
}

.head{
  margin-top: 10px;
  border-radius: 0px;
  border:none;
  float:right;
  margin-right: 10px;
  background-color: #39ace7;
  color: white;
  height: 45px;
  width: 150px;
}

.headButton{
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 0px;
  border:none;
  background-color: #39ace7;
  color: white;
  height: 45px;
  width: 150px;
}

.itemList{
  display: inline-block;
  min-width: 750px;
  min-height: 200px;
  padding:20px;
  margin-left: 50px;
}

.price{
  border-radius: 5px;
  background-color: #0784b5;
  display: inline-block;
  vertical-align: top !important;
  box-shadow: 10px 10px #3260aa;
  min-width: 400px;
  min-height: 100px;
  padding:10px;
  margin-top: 20px;
  color:white;
  margin-left: 70px;
}

.priceChild{
  display: inline-block;
  align-self: flex-end;
  margin-right: 10px;
  font-size: 22px;
}

.bottomMeniu{
  position: absolute;
  margin-left: 70px;
  bottom: 30px;
}

.buttonControl{
  border-radius: 0px;
  border:none;
  margin-left:10px;
  margin-right: 10px;
  display: inline-block;
}

.ProductRow{
  border-radius: 5px;
  background-color: #0784b5;
  padding:20px;
  color:white;
  margin-bottom: 20px;
  width:950px;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px #3260aa;
}

.whole{
  position:relative;
}

.incButtons{
  border:none;
  background-color: #0784b5;
  color:white;
  margin-top: 0px!important;
}

.chosenButtons{
  border-radius: 5px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px rgb(194, 192, 192);
  border-bottom: solid 1px rgb(194, 192, 192);
  background-color: #3b71ca;
  box-shadow: 5px 5px #3260aa;
  color:white;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

.amountContainer,
.priceContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 150px;
  text-align: center;
}

.priceP{
  height:46px;
}

.infoContainer {
  width: 300px;
}

.deficit{
 width: 40px;
 height: 40px;
 font-size: 22px;
}

.orderCol {
  height: 90px;
  margin: 5px;
  padding: 10px;
}

.OrderRow {
  padding: 10px;
  color: white;
  margin-bottom: 5px;
  width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #0784b5;
  box-shadow: 10px 10px #3260aa;
  border-radius: 5px;
}

.OrderRow:hover {
  background-color: #a1c1e2;
}

.orderContainer {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
}

.infoPlate {
  display: grid;
  grid-template-columns: auto 1fr;
  color: white;
  margin-bottom: 20px;
}

.infoWrap{
  margin-left: 70px;
  background-color: #0784b5;
  width: 700px;
  padding: 10px;
  border-radius: 5px;
  height: 180px;
}

.label {
  grid-column: 1;
  margin-right: 20px;
}

.data {
  grid-column: 2;
}

.UserRow {
  border-radius: 5px;
  background-color: #0784b5;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  width: 1800px;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  margin-left: 70px;
}

.UserCol {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.inp {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

b {
  display: block;
  margin-bottom: 5px;
}

p span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select{
  border-radius: 5px;
  margin-left: 10px;
  border: solid 1px white;
  display: inline-block;
}

select:hover{
  background-color: #a1c1e2;
}

.blueButton{
  border-radius: 5px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px rgb(194, 192, 192);
  border-bottom: solid 1px rgb(194, 192, 192);
  background-color: #3b71ca;
  box-shadow: 5px 5px #3260aa;
  color:white;
}

.ProductRowWarning{
  border-radius: 5px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px rgb(194, 192, 192);
  border-bottom: solid 1px rgb(194, 192, 192);
  margin-bottom: 20px;
  box-shadow: 10px 10px #3260aa;
  padding:20px;
  color:white;
  width:950px;
  display: flex;
  flex-direction: row;
  background-color: orange;
}

.ProductRowExpired{
  border-radius: 5px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px rgb(194, 192, 192);
  border-bottom: solid 1px rgb(194, 192, 192);
  margin-bottom: 20px;
  box-shadow: 10px 10px #3260aa;
  padding:20px;
  color:white;
  width:950px;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 0, 0);
}