@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    color: #121212;
}

body {
    min-height: 100vh;
    background-color: #3b71ca;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
  font-size: 22px;
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

h1, h3{
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
    color: #121212;
}

input[type="text"],
input[type="number"],
input[type="password"]{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-top: 2px solid white;
  border-left:2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #b3b7bb88;
}

hr{
  border: 1px solid #b3b7bb;
}

button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 3rem;
}

input:hover{
  border: 2px solid #a1c1e2;
}

button:hover{
  background-color: #a1c1e2;
}

a:hover{
  color:#3b71ca;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errorMessage {
    background-color: white;
    color: red;
    border: solid red;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}